html {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin-top: 50px;
}

.fact-editor {
    font: 30px monospace;
    margin: 20px 30px;
    line-height: 2em;
    transition: opacity ease-in 0.15s;
}

.fact-editor * {
    vertical-align: baseline;
}

.fact-editor label {
    font-size: 16px;
}

.fact-entry, .fact-editor select {
    border: 2px solid #333;
}

.fact-entry:focus, .fact-editor select:focus {
    border-color: #4a90d9;
    outline: none;
}

.fact-editor select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.fact-entry {
    height: 30px;
    min-width: 100px;
    font: inherit;
    transition: all ease-in 0.1s;
    border-style: none;
    border-bottom-style: solid;
}

.fact-editor button {
    height: 30px;
    vertical-align: middle;
}

.fact-editor form {
    display: inline;
}

.fact-editor select {
    font: inherit;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    background: transparent;
    max-width: 400px;
    transition: width ease-in 0.1s;
}

.hidden {
    display: none !important;
}

.error {
    border-color: #d9004a !important;
}

table {
    text-align: center;
}

td {
    width: 100px;
}

tr:first-child td {
    font-weight: bold;
}

td:not(:last-child) {
    border-right: 1px solid #666;
}

tr:not(:last-child) td {
    border-bottom: 1px solid #666;
}
