html {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin-top: 50px;
}

.fact-editor {
    font: 30px monospace;
    margin: 20px 30px;
    line-height: 2em;
    transition: opacity ease-in 0.15s;
}

.fact-editor * {
    vertical-align: baseline;
}

.fact-editor label {
    font-size: 16px;
}

.fact-entry, .fact-editor select {
    border: 2px solid #333;
}

.fact-entry:focus, .fact-editor select:focus {
    border-color: #4a90d9;
    outline: none;
}

.fact-editor select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.fact-entry {
    height: 30px;
    min-width: 100px;
    font: inherit;
    transition: all ease-in 0.1s;
    border-style: none;
    border-bottom-style: solid;
}

.fact-editor button {
    height: 30px;
    vertical-align: middle;
}

.fact-editor form {
    display: inline;
}

.fact-editor select {
    font: inherit;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    background: transparent;
    max-width: 400px;
    transition: width ease-in 0.1s;
}

.result {
    margin-top: 10px;
    font-size: 16px;
    line-height: normal;
    position: relative;
}

.show-table {
    position: absolute;
    z-index: 11;
}

.fact-editor .hidden {
    display: none !important;
}

.error {
    border-color: #d9004a !important;
}

table {
    margin-top: 30px;
    text-align: center;
}

td {
    width: 95px;
    vertical-align: bottom !important;
}

td:not(:last-child) {
    border-right: 1px solid #666;
}

tr:not(:last-child) td {
    border-bottom: 1px solid #666;
}

.footer {
    margin-top: 80px;
}

a {
    color: #2a70ff;
}

p {
    text-indent: 2em;
    margin: 10px 0;
}

ul {
    margin: 5px 0 20px;
}

.description {
    max-width: 900px;
}

.description .hidden {
    height: 0 !important;
    overflow: hidden;
    opacity: 0;
}

.tutorial li {
    font-style: italic;
}

.description button {
    margin-top: 20px;
}

.sentences {
    padding: 50px 0 50px;
    background: white;
    position: relative;
    z-index: 10;
}

.sentences.transition {
    transition: all ease-in 0.15s;
}
